<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kodecamp Task6</title>
</head>
<body>
    <h1>Contact Us Page</h1>
    <b>Welcome to our Task 6 Contact Us html view</b>
    <p>Fill in the Form Below</p>
    <table border="3">
        <form action="submit">
            <tr><td><label>First Name: </label><input type="text"></td></tr>
            <tr><td><label>Email Address: </label><input type="text"></td></tr>
            <tr><td><label>Message: </label><input type="text"></td></tr>
            <tr><td><input type="submit"></td></tr>
        </form>
    </table>
</body>
</html>